main {
    padding-top: 100px;
    z-index: 0;

    @media (max-width: 600px) {
        padding-top: 70px;
    }
}

.unfocus {
    background-color: rgba(0, 0, 0, 0.87);
    width: 100vw;
    height: 100vh;
    z-index: 1299;
    position: fixed;
    backdrop-filter: blur(2px);
}

section.about {
    padding: 15px;
    max-width: 600px;
    margin: 0 auto;

    .about-container {
        margin-bottom: 20px;

        p {
            padding-left: 10px;
        }
    }
}

.svg-cart {
    &.remove {
        fill: rgb(3, 175, 3);
    }

    &.add {
        fill: black;
    }
}

.spinner-con {
    transition: opacity 250ms;
    position: absolute;
    z-index: 10;
    opacity: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    margin-top: 20px;
    overflow: visible;
    z-index: 2000;
    // justify-content: center;

    .loading-con {
        position: sticky;
        width: fit-content;
        height: fit-content;
        margin: 0;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        overflow: visible;

        .spinner-border {
            border-width: 7px;
            width: 50vw;
            height: 50vw;
            max-width: 100px;
            max-height: 100px;
        }
    }

    &.loading {
        pointer-events: auto;
        opacity: 1;
    }
}

// .popup-cart {
//     position: fixed;
//     z-index: 9000;
//     transition: right 200ms, top 200ms;
//     width: 200px;
//     text-align: center;
//     pointer-events: none;
//     background-color: red;
// }