.pizza-thumbnail {
    width: 250px;
    height: 150px;
}

.pizza-thumbnail {
    background-color: red;

    img {
        width: 100%;
        height: auto;
    }
    h3 {
        font-size: 25px;
    }
}