:root {
    --liner-gradient-left: left,
        rgba(0, 0, 0, 0) 40%,
        rgba(0, 0, 0, 0.37) 140%;
    --liner-gradient-right: right,
        rgba(0, 0, 0, 0) 30%,
        rgba(0, 0, 0, 0.37) 140%;
    --liner-gradient-bottom: bottom,
        rgba(0, 0, 0, 0) 30%,
        rgba(0, 0, 0, 0.37) 140%;
    --liner-gradient-to-bottom: to bottom,
        rgba(0, 0, 0, 0) 40%,
        rgba(0, 0, 0, 0.37) 140%;
    --liner-gradient-to-right: to right,
        rgba(0, 0, 0, 0) 30%,
        rgba(0, 0, 0, 0.37) 140%;
    --liner-gradient-to-left: to left,
        rgba(0, 0, 0, 0) 30%,
        rgba(0, 0, 0, 0.37) 140%;
}

.hero-panel-con {
    padding: 15px;
}

.hero-con {
    position: relative;
    // width: 80%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 60px 20px 20px 20px;
    margin-top: 30px;
    overflow: hidden;

    .curved-corner {
        fill: rgb(0, 0, 0);
        position: absolute;
        width: 50px;
    }

    .logo-con {
        position: absolute;
        top: 0px;
        left: 0px;
        z-index: 10;
        width: 100%;

        .curved-corner {
            z-index: 11;
            top: -17px;
            left: -17px;
        }

        .logo-deep-con {
            display: flex;
            align-items: center;
            // justify-content: center;
            position: relative;
            height: 80px;
            border-radius: 11px;
            background-color: rgb(255, 184, 53);
            padding: 10px;

            // background-color: rgb(228, 228, 228);

            img {
                display: inline-block;
                height: 100%;
                object-fit: cover;
            }

            h2 {
                font-size: 30px;
                margin: auto 0;
            }
        }
    }

    .links-con {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        overflow: hidden;

        .links {
            display: flex;
            flex-wrap: nowrap;
            text-align: center;

            a {
                flex-shrink: 0;
                color: rgb(0, 0, 0);
                font-size: 20px;
                text-decoration: none;
                padding: 0 20px;
                border-left: 1px solid rgba(0, 0, 0, 0.274);

                &:first-child {
                    border-left: 0;
                }

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }

    .carousel-con {
        position: relative;

        .curved-corner {
            z-index: 10;
            bottom: -18px;
            right: -18px;
            rotate: 180deg;
        }
    }

    .carousel {
        height: 500px;
        z-index: 1;
        width: 100%;

        .carousel-inner {
            height: 100%;
            border-radius: 11px;
            padding: 10px;
            background-color: rgb(255, 184, 53);
            // background: radial-gradient(circle, rgba(0, 0, 0, 1) 82%, rgba(0, 0, 0, 0.4500175070028011) 97%);

            .carousel-item {
                height: 100%;

                .d-block {
                    border-radius: 11px;
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                }

                &::before {
                    background-image:
                        linear-gradient(var(--liner-gradient-to-left)),
                        linear-gradient(var(--liner-gradient-to-right)),
                        -webkit-linear-gradient(var(--liner-gradient-to-bottom));
                    background-image:
                        -moz-linear-gradient(var(--liner-gradient-right)),
                        -moz-linear-gradient(var(--liner-gradient-left)),
                        -webkit-linear-gradient(var(--liner-gradient-bottom));
                    background-image:
                        -webkit-linear-gradient(var(--liner-gradient-right)),
                        -webkit-linear-gradient(var(--liner-gradient-left)),
                        -webkit-linear-gradient(var(--liner-gradient-bottom));
                    content: "\00a0";
                    height: 100%;
                    position: absolute;
                    width: 100%;
                    z-index: 100;
                }
            }
        }
    }

    @mixin show($duration) {
        $name: inline-#{unique-id()};

        @keyframes #{$name} {
            0% {
                mask-position: right;
            }

            100% {
                mask-position: left;
            }
        }

        animation-name: $name;
        animation-duration: $duration;
        animation-iteration-count: 1;
        animation-direction: normal;
    }

    @mixin pizzas-slide($duration) {
        $name: inline-#{unique-id()};

        @keyframes #{$name} {
            0% {
                transform: translate(0%, 0);
            }

            20% {
                transform: translate(0%, 0);
            }

            100% {
                transform: translate(-200%, 0);
            }
        }

        animation-name: $name;
        animation-duration: $duration;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        animation-delay: 2s;
    }

    .pizzas-con {
        @include show(1.3s);
        position: absolute;
        top: 50%;
        left: 10px;
        transform: translate(0, -50%);
        z-index: 20;
        width: 100%;
        mask-image: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
        mask-size: 50000% 1%;
        mask-position: left;

        .pizzas-show {
            height: 210px;
            overflow: hidden;
            gap: 10px;
            overflow: hidden;

            .pizzas-slider {
                mask-image: linear-gradient(90deg, rgba(0, 0, 0, 1) 80%, rgba(0, 0, 0, 0) 100%);
                position: relative;
            }

            .pizzas {
                display: flex;
                gap: 15px;
                position: relative;

                .pizza {
                    @include pizzas-slide(8s);
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: center;
                    flex-shrink: 0;

                    h3 {
                        color: white;
                        width: 140px;
                        text-align: center;
                        text-shadow: 0 0 7px rgba(0, 0, 0, 0.644);
                    }

                    img {
                        width: 130px;
                        height: 130px;
                        border-radius: 50%;
                        border: 5px solid white;
                        object-fit: cover;
                    }
                }
            }

            a.more-pizzas {
                position: absolute;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                color: rgb(255, 255, 255);
                top: 38%;
                right: 20px;
                transform: translate(0, -50%);
                text-decoration: none;
                overflow: visible;
                height: 200px;

                p {
                    position: relative;
                    font-size: 16px;
                    font-weight: 600;
                    bottom: 30px;
                    opacity: 0;
                    transition: opacity 80ms, bottom 120ms;
                    left: 8px;
                    text-align: center;
                    text-shadow: 0 0 8px rgba(0, 0, 0, 0.432);
                }

                svg {
                    position: relative;
                    fill: rgb(255, 255, 255);
                    left: 0;
                    transition: left 200ms;
                }

                &:hover {

                    p {
                        opacity: 1;
                        bottom: 20px;
                    }

                    svg {
                        left: 10px;
                    }
                }
            }
        }
    }

    a.open-menu {
        display: inline-block;
        position: absolute;
        top: 20%;
        left: 50%;
        transform: translate(-50%, 0%);
        z-index: 5;
        width: 100%;
        max-width: 200px;
        padding: 4px;

        .open-menu-con {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: relative;
        }

        svg {
            fill: white;
            width: 90%;
            transition: fill 150ms;
            z-index: 10;
        }

        ::after {
            content: '';
            display: inline-block;
            position: absolute;
            max-width: 0px;
            width: 105%;
            aspect-ratio: 1/1;
            background-color: rgb(255, 255, 255);
            border-radius: 50%;
            transition: max-width 250ms, box-shadow 300ms;
            z-index: 1;
            box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0);
        }

        &:hover {
            svg {
                fill: black !important;
            }

            ::after {
                max-width: 300px;
                box-shadow: 0 0 10px 0px black;
            }
        }
    }
}

@media (max-width: 800px) {
    .hero-panel-con {
        padding: 0;
    }

    .hero-con {
        padding: 0 0 0 0;
        margin-top: 0;

        .curved-corner {
            display: none;
        }

        .links-con {
            display: none;
        }

        .logo-con {
            height: 140px;

            .logo-deep-con {
                background-color: transparent;
                justify-content: center;
                height: 130px;
                padding: 17px 5px 0px 5px;

                img {
                    flex-shrink: 1;
                    width: 100%;
                    max-width: 300px;
                    object-fit: contain;
                }
            }
        }

        .pizzas-con {
            left: 0;
            top: auto;
            bottom: 100px;

            a.more-pizzas {
                visibility: hidden;
            }
        }

        .carousel {
            height: 100svh;
            border-radius: 0;
            min-height: 900px;

            .carousel-inner {
                padding: 0px;
                background-color: transparent;
                border-radius: 0;

                .carousel-item {

                    .d-block {
                        border-radius: 0;
                    }
                }
            }
        }
    }
}