.loading-page {
    position: fixed;
    z-index: 4000;
    width: 100%;
    height: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.466);

    .spinner-container {
        position: relative;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .spinner-border {
        width: 50vw;
        height: 50vw;
        max-width: 150px;
        max-height: 150px;
        border-color: rgb(255, 255, 255);
        border-right-color: transparent;
    }
}

.loader {
    position: fixed;
    z-index: 9999;
    width: 100vw;
    height: 100vh;
    background-color: rgb(34, 33, 33);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    gap: 10px;
    overflow: auto;

    transition: left 300ms, opacity 200ms;
    // left: 0%;
    opacity: 1;

    .spinner-border {
        width: 50vw;
        height: 50vw;
        flex-shrink: 0;
        max-width: 150px;
        max-height: 150px;
        border-width: 5px;
        border-color: rgb(255, 255, 255);
        border-right-color: transparent;
    }

    svg {
        flex-shrink: 0;
        max-width: 200px;
        height: auto;
    }

    &.loaded {
        // left: 104%;
        opacity: 0;
        pointer-events: none;
    }

    .msg {
        font-size: 17px;
        padding: 5px;
        text-align: center;
        display: none;

        &.code {
            color: rgb(255, 40, 40);
            font-weight: 500;
        }

        &.visible {
            display: block;
        }
    }
}

.of-h-2 {
    overflow: hidden;
}

$spinner-border-width: 13px;