@mixin opacity-breathing($duration) {
    $name: inline-#{unique-id()};

    @keyframes #{$name} {
        from {
            opacity: 0.4;
        }

        to {
            opacity: 1;
        }
    }

    animation-name: $name;
    animation-duration: $duration;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

nav {
    position: fixed;
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 85px;
    // max-height: 300px;
    z-index: 1299;
    // background-color: rgba(255, 255, 255, 0.521);
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 35px -24px black;
    align-items: center;
    overflow: hidden;
    white-space: nowrap;

    .nav-container {
        position: relative;
        width: 100%;
        max-height: 300px;
        min-height: 85px;
        height: 85px;


        transition: min-height 300ms;
    }

    .linky {
        a {
            text-decoration: none;
            color: rgb(155, 62, 0);
            font-weight: 500;
        }

        .user {
            a {
                display: flex;
                align-items: center;
                gap: 5px;
            }
        }
    }

    .log-out {
        button {
            background-color: transparent;
            border: 0;
            font-size: 18px;
            color: rgb(255, 41, 41);
            font-weight: 500;

            &:hover {
                cursor: pointer;
                text-decoration: underline;
            }
        }
    }

    .links-row {
        display: flex;
        justify-content: space-around;
        max-width: 750px;
        margin: 0 auto;

        .link-con {
            border-width: 0 1px 0 0;
            border-color: rgba(134, 134, 134, 0.548);
            border-style: solid;
            gap: 7px;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            max-height: 20px;
            font-size: 17px;
            padding: 0 0.5vw;

            &:last-child {
                border-width: 0 0 0 0;
            }
        }

        .one {
            width: 10%;
        }

        .two {
            width: 20%;
        }

        .three {
            width: 30%;
        }

        .four {
            width: 40%;
        }

        .five {
            width: 50%;
        }

        .six {
            width: 60%;
        }

        .seven {
            width: 70%;
        }

        .eight {
            width: 80%;
        }

        .nine {
            width: 90%;
        }

        a {
            &:hover {
                text-decoration: underline;
            }

            word-break: keep-all;
            white-space: nowrap;
        }

        .log-out {
            button {
                font-size: 17px;
                display: flex;
                padding: 0;
                height: 100%;
                line-height: 20px;

                color: black;
            }
        }

        .auth {
            a {
                color: black;
            }
        }

        .auth-loading {
            width: 35%;
            @include opacity-breathing(1s);

            svg {
                height: 150%;
                width: auto;
            }
        }

        .user {
            svg {
                width: 30px;
            }

            width: 50%;
        }
    }

    .links {
        margin: 5px auto 0 auto;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        gap: 0px;
        top: 80px;
        flex-direction: column;
        overflow: auto;
        font-size: 23px;
        // overflow: hidden;
        width: 100%;
        white-space: break-spaces;
        word-wrap: break-word;

        // flex-wrap: wrap;

        .link {
            // border: 1px solid black;
            padding: 6px 6px 6px 6px;
            width: 100%;
            display: flex;
            gap: 7px;
            flex-direction: column;
            text-align: center;

            a {
                font-size: 1em;
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }
            }
        }

        .auth-loading {
            @include opacity-breathing(1s);

            svg {
                height: 90px;
                width: auto;
            }
        }

        .user-links {
            width: 100%;
            max-width: 100%;

            a {
                color: black;
            }

            .log-out {
                button {
                    font-size: 1em;
                }
            }

            .user {
                a {
                    justify-content: center;
                    align-items: center;

                    span {
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }

                    svg {
                        width: 60px;
                        flex-shrink: 0;
                    }
                }
            }
        }
    }


    .logo-name {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 60px;
        position: relative;

        .logo-link {
            display: flex;
            align-items: center;
            height: 100%;
            text-decoration: none;
            color: black;
            margin: 0;

            img {
                width: 90px;
            }
        }

        h1 {
            font-size: 40px;
            display: inline-block;
            white-space: nowrap;
            margin-bottom: 4px;

            @media (max-width: 500px) {
                display: none;
            }
        }

        .options-container {
            display: flex;
            gap: 10px;
            overflow: visible;

            .cart {
                overflow: visible;
                width: 50px;
                margin-right: 20px;
                position: relative;

                svg {
                    width: 100%;
                    height: auto;
                }

                .items-count {
                    position: absolute;
                    bottom: 0;
                    right: 0px;
                    background-color: rgb(255, 203, 33);
                    padding: 4px;
                    border-radius: 10px;
                    line-height: 13px;
                    color: black;
                }
            }


            .expand-nav {
                display: none;
                width: 50px;
                margin: 0;
                flex-shrink: 0;
                align-items: center;
                justify-content: center;

                :hover {
                    cursor: pointer;
                }

                svg {
                    width: 100%;
                    height: auto;
                }
            }
        }


        @media (max-width: 200px) {
            .logo-link {
                display: none;
            }

            .options-container {
                margin: 5px auto;
            }
        }
    }


    @media (max-width: 600px) {
        min-height: 60px;

        .nav-container {
            min-height: 60px;
            height: 60px;

            &.expanded {
                min-height: 100vh;
                // overflow: auto;
                overflow: overlay;

                &::-webkit-scrollbar {
                    width: 0px;
                }

                @media (max-height: 500px) {
                    min-height: 100vh;
                }
            }
        }

        .links-row {
            display: none;
        }

        .logo-name {
            .options-container {

                .cart {
                    margin: 0;
                }

                .expand-nav {
                    display: flex;
                }
            }
        }
    }

    .user {
        svg {
            width: 30px;
            height: auto;
        }
    }
}