@mixin opacity-breathing($duration) {
    $name: inline-#{unique-id()};

    @keyframes #{$name} {
        from {
            opacity: 0.4;
        }

        to {
            opacity: 1;
        }
    }

    animation-name: $name;
    animation-duration: $duration;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

main.user-main {
    position: relative;
    min-height: 100svh;
}

.no-auth {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 120px;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, 0);
    transition: opacity 150ms;

    &.hidden {
        pointer-events: none;
        opacity: 0;
    }

    &.shown {
        pointer-events: auto;
        opacity: 1;
    }

    h5 {
        font-size: 26px;
        text-align: center;
    }

    svg.no-auth-svg {
        max-width: 150px;
        width: 100%;
        height: auto;
    }

    .links-con {
        display: flex;
        gap: 15px;
        flex-wrap: wrap;

        a {
            padding: 10px 16px;
            text-decoration: none;
            border-radius: 10px;
            font-size: 19px;
            font-weight: 600;

            &.login {
                color: orange;
                background-color: rgb(53, 53, 53);

                &:hover,
                :active {
                    background-color: rgb(82, 82, 82);
                }
            }

            &.signup {
                color: rgb(53, 53, 53);
                background-color: orange;

                &:hover,
                :active {
                    background-color: rgb(255, 181, 44);
                }
            }
        }
    }
}

.user-container-loading {
    display: flex;
    justify-content: center;
    transition: opacity 150ms;
    position: absolute;
    top: 0;
    left: 50%;
    width: 100%;
    transform: translate(-50%, 0);

    .spinner-border {
        margin: 0 auto;
        margin-top: 30%;
        width: 20vw;
        height: 20vw;
    }

    &.hidden {
        pointer-events: none;
        opacity: 0;
    }

    &.shown {
        pointer-events: auto;
        opacity: 1;
    }
}

.user-container {
    max-width: 900px;
    margin: 0 auto;
    transition: opacity 150ms;

    &.hidden {
        pointer-events: none;
        opacity: 0;
    }

    &.shown {
        pointer-events: auto;
        opacity: 1;
    }

    h1 {
        font-size: 30px;
    }

    h2 {
        font-size: 22px;
    }
}

.user-card {
    display: flex;
    column-gap: 10px;
    padding: 10px;
    word-break: break-word;

    svg {
        width: 150px;
        height: auto;
    }

    @media (max-width: 530px) {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;

        svg {
            width: 100%;
            max-width: 150px;
        }
    }
}

.user-navigation {
    padding: 10px;

    a {
        display: block;
        margin: 7px 0;
        text-decoration: none;
        color: rgb(155, 62, 0);
        font-weight: 500;
        width: fit-content;

        div {
            display: flex;
            gap: 8px;
            align-items: center;
            font-size: 18px;

            svg {
                width: 30px;
                height: auto;
                flex-shrink: 0;
            }
        }

        :hover {
            text-decoration: underline;
        }
    }
}

button.back-nav {
    background-color: rgb(90, 90, 90);
    color: white;
    margin: 20px 0 0 0.9vw;
    font-weight: 500;
    gap: 4px;

    svg {
        width: 25px;
        stroke: white;
    }

    padding-left: 10px;

    &:active {
        outline-color: grey;
    }

    &:hover {
        background-color: rgb(100, 100, 100);
    }
}

.shipping-adress {
    margin: 10px auto 20px auto;

    h3 {
        text-align: center;
    }
}