#view-product {
    word-break: break-word;
    position: absolute;
    position: fixed;
    // background-color: rgba(3, 3, 3, 0.712);
    z-index: 1300;
    // backdrop-filter: blur(13px);
    overflow: auto;

    width: 100%;
    height: 100%;

    // pointer-events: none;

    hr {
        margin: 4px 0;
        background-color: rgb(187, 187, 187);
        height: 3px;
        border: 0;
    }

    .product-center {
        position: relative;
        top: 10%;
        // left: 50%;
        // transform: translate(-50%, -50%);
        overflow: auto;

        // .product-view-container {
        //     overflow: auto;
        // }

        .pizza-img-container {
            pointer-events: auto;
            width: 350px;
            margin: 0 auto;
            padding: 9px;
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                max-width: 100%;
                border-radius: 30px;
                max-height: 250px;
                object-position: center;
                object-fit: contain;
            }

            @media (max-width: 500px) {
                width: 80%;
            }
            @media (max-width: 350px) {
                width: 100%;
                padding: 1px 1px 5px 1px;
            }
        }

        .pizza-thumbnail {
            pointer-events: auto;
            margin: 0 auto;
            width: 600px;
            height: fit-content;
            background-color: white;
            border: 0;
            
            :hover {
                cursor: auto;
            }

            .pizza-thumbnail-info {
                justify-content: center;

                @media (max-width: 500px) {
                    height: 200px;
                }
            }
            @media (max-width: 650px) {
                width: 100%;
            }
        }

        .pizza-info {
            pointer-events: auto;
            padding: 5px;
            p {
                width: 100%;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 40;
            }
        }

        .price {
            pointer-events: auto;
            background-color: green;
            color: white;
            width: fit-content;
            font-size: 23px;
            margin: 10px auto;
            padding: 5px;
            border-radius: 8px;
        }

        @media (max-width: 640px) {
            width: 100%;
        }
    }

    div.ingredients {
        pointer-events: auto;
        -webkit-line-clamp: 17;
        font-weight: 600;
        margin: 0px 4px 5px 4px;
    }

    .add-to-cart-container {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;

        .add-to-cart {
            cursor: pointer;
            pointer-events: auto;
            background-color: transparent;
            border: 0;
            background-color: white;
            padding: 6px;
            border-radius: 30px;

            svg {
                width: 90px;
                height: 90px;
            }
        }
    }
}

.unfocus {
    pointer-events: auto;
}

.view-product {
    pointer-events: none;
}