#view-product {
    word-break: break-word;
    position: absolute;
    position: fixed;
    // background-color: rgba(3, 3, 3, 0.712);
    z-index: 1500;
    // backdrop-filter: blur(13px);
    overflow: auto;

    width: 100%;
    height: 100%;

    // pointer-events: none;

    h3 {
        margin-bottom: 1px;
    }

    .cross {
        display: flex;
        align-items: center;
        justify-content: center;
        color: rgb(255, 54, 54);
        font-weight: 600;
        font-size: 35px;
        width: 75px;
        height: 60px;
        background: 0;
        border: 0;

        text-shadow: 0 0px 10px rgba(0, 0, 0, 0.774);

        position: fixed;
        right: 0;
        z-index: 2000;

        &:hover {
            cursor: pointer;
            text-shadow: 0 0px 9px rgb(0, 0, 0);
        }
    }

    hr {
        margin: 4px 0;
        background-color: rgb(187, 187, 187);
        height: 3px;
        border: 0;
    }

    .product-center {
        position: relative;
        top: 10%;
        // left: 50%;
        // transform: translate(-50%, -50%);
        overflow: auto;

        // .product-view-container {
        //     overflow: auto;
        // }

        .pizza-img-container {
            pointer-events: auto;
            width: 350px;
            margin: 0 auto;
            padding: 9px;
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                max-width: 100%;
                max-height: 250px;
                min-width: 150px;
                width: auto;
                height: auto;
                border-radius: 30px;
                object-position: center;
                object-fit: contain;
            }

            @media (max-width: 500px) {
                width: 80%;
            }

            @media (max-width: 350px) {
                width: 100%;
                padding: 1px 1px 5px 1px;
            }
        }

        .pizza-thumbnail {
            pointer-events: auto;
            margin: 0 auto;
            width: 600px;
            height: fit-content;
            background-color: white;
            border: 0;

            :hover {
                cursor: auto;
            }

            .pizza-thumbnail-info {
                justify-content: center;

                @media (max-width: 500px) {
                    height: 200px;
                }
            }

            @media (max-width: 650px) {
                width: 100%;
                max-width: 400px;
            }
        }

        .info-container {
            margin-bottom: 100px;
        }

        .pizza-info {
            pointer-events: auto;
            padding: 5px;

            p {
                width: 100%;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 40;
                font-size: 17px;
                margin: 0;
            }
        }

        .price {
            pointer-events: auto;
            background-color: green;
            color: white;
            width: fit-content;
            font-size: 23px;
            margin: 10px auto;
            padding: 5px;
            border-radius: 8px;
        }

        @media (max-width: 640px) {
            width: 100%;
        }
    }

    div.ingredients {
        pointer-events: auto;
        -webkit-line-clamp: 17;
        font-weight: 600;
        margin: 0px 4px 5px 4px;
    }

    .add-to-cart-container {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
        pointer-events: auto;

        span {
            display: none;
        }

        .add-to-cart {
            cursor: pointer;
            pointer-events: auto;
            background-color: transparent;
            border: 0;
            background-color: white;
            padding: 6px;
            border-radius: 30px;
            width: 110px;
            height: 110px;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;

            svg {
                pointer-events: none;
                width: 90px;
                height: 90px;
            }

            .spinner-container {
                display: none;
                width: 90px;
                height: 90px;
                justify-content: center;
                align-items: center;
                overflow: hidden;
                position: absolute;
            }

            .spinner-border {
                width: 60px;
                height: 60px;
                border-width: 7px;
            }

            &.btn-cart-loading {
                // svg {
                //     display: none;
                // }
                pointer-events: none;
                background-color: rgb(190, 190, 190);

                .spinner-container {
                    display: flex;
                }
            }
        }
    }

    @media (min-width: 670px) {
        .product-center {
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            max-width: 850px;
            margin: 0 auto;

            .pizza-img-container {
                flex-shrink: 0;
                max-width: 300px;
                padding-top: 0;
            }

            .info-container {
                width: 100%;
                margin-right: 10px;

                .pizza-thumbnail {
                    width: 100%;
                }
            }

            .cart-price-container {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: 10px;
                gap: 10px;

                .price {
                    margin: 0;
                    width: fit-content;
                }

                .add-to-cart-container {
                    width: fit-content;
                    height: 60px;
                    overflow: hidden;
                    padding: 0;
                    flex-shrink: 700;

                    .add-to-cart {
                        padding: 0px 10px;
                        height: 60px;
                        border-radius: 20px;
                        width: 100%;
                        justify-content: flex-start;
                        gap: 10px;

                        &.btn-cart-loading {
                            // svg {
                            //     display: none;
                            // }
                            pointer-events: none;
                            background-color: rgb(190, 190, 190);

                            .spinner-container {
                                display: flex;
                            }
                        }
                    }

                    svg {
                        width: 50px;
                        height: auto;
                        flex-shrink: 0;
                    }

                    span {
                        display: inline-block;
                        font-size: 18px;
                        font-weight: 500;
                    }

                    .spinner-container {
                        // display: flex;
                        height: 50px;
                        width: 50px;
                        position: absolute;

                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);

                        .spinner-border {
                            height: 40px;
                            width: 40px;
                            border-width: 5px;
                        }
                    }
                }
            }
        }
    }

    .admin-board {
        margin: 10px auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 7px;

        .delete {
            pointer-events: auto;

            &:active {
                outline-color: red;
                outline-offset: 1px;
            }
        }

        .edit {
            &:active {
                outline-color: rgb(0, 162, 255);
                outline-offset: 1px;
            }
        }
    }
}

.unfocus {
    pointer-events: auto;
}

.view-product {
    pointer-events: none;
}